{% extends 'Login/main.html' %} {% block content%}

<div class="Tb"id="students">
  <table class="Tb">
    <thead>
      <tr>
        <th width="250px" height="30px">Student Index</th>
        <th width="500px" height="30px">Name</th>
        <th width="150px" height="30px">GPA</th>
        <th width="150px" height="30px">CGPA</th>
        <th width="150px" height="30px">Semester</th>
        <th width="400px" height="30px">Department</th>
        <th width="250px" height="30px">Update Student</th>
        <th width="250px" height="30px">Delete Student</th>
      </tr>
    </thead>

    <tbody>
      {% for i in student %}
       <tr class="row">
        <td class="col1">{{i.student_index}}</td>

        <td class="col2">{{i.name}}</td>

        <td class="col3">{{i.GPA}}</td>

        <td class="col4">{{i.CGPA}}</td>

        <td class="col5">{{i.Semester}}</td>

        <td class="col6">{{i.department}}</td>

        <td class="col7"><a href="{% url 'UpdateStudent' i.student_index %}">Update</a></td>

        <td class="col8"><a href="{% url 'DeleteStudent' i.student_index %}">Delete</a></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
<form method="GET">
  {{myFilter.form}}

  <button class="" type = "submit">search</buttn>

  </form>

  <a class="add" href="{% url 'AddStudent' %}">Add Student</a>

</div>
<div class="Tb" id="results">
  <table class="Tb">
    <thead>
      <tr>
        <th width="300px" height="30px">Student</th>
        <th width="300px" height="30px">Course code</th>
        <th width="300px" height="30px">Mark</th>
        <th width="300px" height="30px">Semester</th>
      </tr>
    </thead>

    <tbody>
      {% for x in Examresult %}

      <tr class="row">
        <td class="col9">{{x.student_index}}</td>

        <td class="col10">{{x.Course_code}}</td>

        <td class="col11">{{x.Mark}}</td>

        <td class="col12">{{x.Semester}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="Ttb" id="timetable">
  
    <table class="Ttb">
       <thead>
        <tr>
            <th align="center" height="50"
                width="100"><br>
                <b>Day/Period</b></br>
            </th>
            <th align="center" height="50"
                width="100">
                <b>8:00-9:00</b>
            </th>
            <th align="center" height="50"
                width="100">
                <b>11:00-1:00</b>
            </th>
            <th align="center" height="50"
                width="100">
                <b>11:10-1:00</b>
            </th>
            <th align="center" height="50"
                width="100">
                <b>1:30-3:30</b>
            </th>
            <th align="center" height="50"
                width="100">
                <b>3:30-5:30</b>
            </th>
        </tr>
      </thead>
      <tbody class="ttbody">
        <tr>
            <td align="center" height="50">
                <b>Saturday</b></td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
          
            <td colspan="3" align="center"
                height="50">LAB</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Sunday</b>
            </td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Monday</b>
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center"
                height="50">LIBRARY
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Tuesday</b>
            </td>
            <td align="center" height="50">Phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Wednsday</b>
            </td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thursday</b>
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td colspan="3" align="center"
                height="50">SEMINAR
            </td>
            <td align="center" height="50">SPORTS</td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock content %}
