{% extends 'Login/main.html' %} {% block content%}

<div class="Tb" id="students">
  <table>
    <thead>
      <tr>
        <th class="col">Student Index</th>
        <th class="col">Name</th>
        <th class="col">GPA</th>
        <th class="col">CGPA</th>
        <th class="col">Semester</th>
        <th class="col">Department</th>
        <th class="col">Update Student</th>
        <th class="col">Delete Student</th>
      </tr>
    </thead>

    <tbody>
      {% for i in student %}
      <tr class="row">
        <td>{{i.id}}</td>

        <td>{{i.name}}</td>

        <td>{{i.GPA}}</td>

        <td>{{i.CGPA}}</td>

        <td>{{i.Semester}}</td>

        <td>{{i.department}}</td>

        <td><a href="{% url 'UpdateStudent' i.id %}">Update</a></td>

        <td><a href="{% url 'DeleteStudent' i.id %}">Delete</a></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <a class="add" href="{% url 'AddStudent' %}">Add Student</a>
</div>
<div class="Tb" id="results">
  <table>
    <thead>
      <tr>
        <th class="col">Student Index</th>
        <th class="col">Course code</th>
        <th class="col">Mark</th>
        <th class="col">Semester</th>
      </tr>
    </thead>

    <tbody>
      {% for x in Examresult %}

      <tr class="row">
        <td>{{x.student_index}}</td>

        <td>{{x.Course_code}}</td>

        <td>{{x.Mark}}</td>

        <td>{{x.Semester}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="add" href="{% url 'AddStudent' %}">Add Student</a>
</div>

{% endblock content %}
