{% extends 'Login/main.html' %} {% block content%}


</div>



  <table class="TTb" id="data-table">
    <thead>
      <tr>
        <th width="300px" height="30px">Student</th>
        <th width="300px" height="30px">Course code</th>
        <th width="250px" height="30px">Course name</th>
        <th width="300px" height="30px">Semester</th>
        <th width="300px" height="30px">Mark</th>
        <th width="250px" height="30px">Requested</th>
      </tr>
    </thead>

    <tbody>
      {% for x in Examresult %}

      <tr class="row">
        <td  class = "col9">{{x.student_index}}</td>

        <td class = "col10">{{x.Course_code}}</td>

        <td >{{x.Course_name}}</td>

        <td class="col12">{{x.Semester}}</td>

        <td class="col13">{{x.Mark}}</td>
        <!--<td class="col13"><a href="{% url 'UpdateResult' x.id %}">Update</a></td>-->

        <!--<td class="col14"><a href="{% url 'DeleteResult' x.student_index %}">Delete</a></td>-->
        <td class="col13">{{x.requested}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="add" href="{% url 'AddResult' %}">Add result</a>
</div>



{% endblock content %}
