<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
         <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
        <title>Login</title>
        

    </head>
    <body>

        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
              <img src="" id="icon" alt="User Icon" />
            </div>
        
            <!-- Login Form -->
            <form action="/temp" method="post">
            {% csrf_token %}  
              <input type="text" id="username" class="fadeIn second" name="username" placeholder="User Name" Required>
              <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" Required>
              <button type="submit" class="fadeIn fourth" value="Log In">Login</button>
            </form>
        
            
            
        
          </div>
        </div>
    </body>    
</html>