<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
	
<title>Main</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body>
	<div class=HD>
	<header>
		<img class="logo" src="{% static '/images/fulogo.png' %}" alt="logo">
		<nav>
			<ul class="nav__links">

				<li><a href="#">Students</a></li>
				<li><a href="#">Exam Results</a></li>
				<li><a href="#">F&Z Submission</a></li>

			</ul>
		</nav>
		<button class="neu-btn"> Log Out<a class="cta" href="#"></a></button>
	</header>
</div>
{% block content%}






	

{% endblock content%}
</body>
</html>
