<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}" />
    <title>register</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="{% static '/images/fulogo.png' %}"
            id="icon"
            alt="User Icon"
          />
        </div>

        <!-- Login Form -->
        <form action="" method="POST">
          {% csrf_token %} {{form.username}} {{form.email}} {{form.password1}}
          {{form.password2}} {{form.errors}}
           {{form.is_admin}} Admin
            {{form.is_registrar}}Registrar {{form.is_dataentry}}Data Entry
            <button type="submit" class="fadeIn fifth" value="Log In">
              Register
            </button>
            {% for message in messages %}
          <p class="message">{{message}}</p>
          {% endfor %}
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
