@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

.Tb{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background-color: #bdbdbd;
    /*background: rgb(36, 13, 0);*/
    /*background: linear-gradient(90deg, rgba(36, 13, 0, 1) 0%, rgba(121, 37, 9, 1) 41%, rgba(221, 120, 12, 1) 100%);*/
}

table{
    position:absolute;
    z-index: 2;
    left: 50%;    
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 12px 12px 0px 0px;
    width: 60%;
    box-shadow: 0 5px 12px rgba(32, 32, 32, .3);
    background: #e0e0e0;    
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    overflow:hidden;

    
}
th, td{
    padding: 12px 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
th{
    background: #8d6e63;
}

td{
    font-family: 'Open Sans','sans-serif';
}
tr:nth-child(odd){
    background-color: #eeee;

}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#bf360c;
    text-decoration: none;
}


header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: rgb(36, 13, 0);
    background: linear-gradient(90deg, rgba(221, 120, 12, 0.6) 0%, rgba(121, 37, 9, 0.8) 41%, rgba(36, 13, 0, 0.8) 90%);
    border-bottom: 1px solid #676767;
    z-index: 2;
    box-shadow: 0 5px 12px rgba(32, 32, 32, .7);
}

.logo{
    cursor: pointer;
    height: 150px;
    
}

.nav__links{
    list-style-type: none;
}

.nav__links li{
    display: inline-block;
    padding:0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color:#00889a;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}

button:hover{
    background-color:rgba(0, 136, 169, .8) ;
}