@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.Tb {
  position: absolute;
  left: -225px;

  z-index: 1;

  background-color: #bdbdbd;

  /*background: rgb(36, 13, 0);*/
  /*background: linear-gradient(90deg, rgba(36, 13, 0, 1) 0%, rgba(121, 37, 9, 1) 41%, rgba(221, 120, 12, 1) 100%);*/
}

table {
  transform: translate(40%, 12%);
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
  background: #e0e0e0;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

thead {
  display: table-caption;
}

.row {
  display: table;
  height: 50px;
  width: 1037px;
}

tbody {
  display: inline-grid;
}

tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

tr {
  padding: 0%;
}

td {
  padding: 12px 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
th {
  background: #8d6e63;
}

tr:nth-child(odd) {
  background-color: #eeee;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #bf360c;
  text-decoration: none;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background: rgb(36, 13, 0);
  background: linear-gradient(
    90deg,
    rgba(221, 120, 12, 1) 0%,
    rgba(121, 37, 9, 1) 41%,
    rgba(36, 13, 0, 1) 90%
  );
  border-bottom: 1px solid #676767;
  z-index: 2;
  box-shadow: 0 5px 12px rgba(32, 32, 32, 0.7);
}

.logo {
  cursor: pointer;
  height: 150px;
}

.nav__links {
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

.nav__links li a:hover {
  color: #00889a;
}

.neu-btn:hover {
  background-color: red;
}

button {
  padding: 9px 25px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.warning:hover {
  background-color: #00889a;
}
.warningADD:hover {
  background-color: red;
}
.warningUP:hover {
  background-color: red;
}
.warning2:hover {
  background-color: red;
}

.warning {
  position: relative;
  right: 30%;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 13px;
  transition: all 0.3s ease 0s;
}

.warning2 {
  position: relative;
  left: 20%;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.del {
  position: absolute;
  left: 30%;
  top: 50%;
  display: block;
  border: 2px solid;
  border-radius: 20px;
  border-color: red;
  padding: 65px 80px;
  background-color: #bdbdbd;
  box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
}

.del2 {
  position: inherit;
  display: block;
  left: 35%;
  top: 65%;
}

div {
  display: none;
}

.add:hover {
  background-color: rgba(0, 136, 169, 0.8);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.add {
  position: absolute;
  bottom: 10px;
  left: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  border: 2px solid rgba(0, 136, 169, 0.8);
  border-radius: 50px;
  background-color: white;
}

.up {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: 5px;
  position: absolute;
  left: 30%;
  top: 80%;
  background-color: rgba(0, 136, 169, 0.8);
}

.confirm:hover {
  background-color: lime;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.confirm {
  position: relative;
  left: 130px;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 13px;
}

.update {
  position: absolute;
  left: 50%;
  top: 60%;
  display: block;
  border: 2px solid;
  border-radius: 20px;
  border-color: gray;
  padding: 10px 250px 5px 200px;
  background-color: #bdbdbd;
  box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
  transform: translate(-50%, -50%);
}

label {
  margin-bottom: 10px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#id_id {
  margin-bottom: 10px;
  padding: 5px;
  display: inline list-item;
}

#id_name {
  margin-bottom: 10px;
  padding: 5px;
  display: inline list-item;
}

#id_CGPA {
  margin-bottom: 10px;
  padding: 5px;
}
#id_department {
  margin-bottom: 10px;
  padding: 5px;
}

#id_GPA {
  margin-bottom: 10px;
  padding: 5px;
}

#id_Semester {
  margin-bottom: 10px;
  padding: 5px;
}

.col1 {
  position: relative;
  left: -10px;
}

.col2 {
  position: relative;
  left: -40px;
}

.col3 {
  position: relative;
  left: -11px;
}

.col4 {
  position: relative;
  left: 4px;
}

.col5 {
  position: relative;
  left: 32px;
}

.col6 {
  position: relative;
  left: 46px;
}

.col7 {
  position: relative;
  left: 14px;
}

.col8 {
  position: relative;
  left: 8px;
}

.col9 {
  position: relative;
  left: -34px;
}

.col10 {
  position: relative;
  left: -67px;
}

.col11 {
  position: relative;
  left: -252px;
}

.col12 {
  position: relative;
  left: 86px;
}

.col13 {
  position: relative;
  left: 99px;
}

.col14 {
  position: relative;
  left: 31px;
}

.Ttb {
  position: absolute;
  left: 301px;
}

.warningADD {
  position: absolute;
  left: 167 px;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 13px;
  transition: all 0.3s ease 0s;
}

.warningUP {
  position: absolute;
  left: 167px;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 13px;
  transition: all 0.3s ease 0s;
}
